simple_sume_switch/hw/project/
simple_sume_switch/hw/ip_repo/
simple_sume_switch/test/ip_repo/
sw/API/
sw/CLI/
simple_sume_switch/test/*.axi
simple_sume_switch/hw/create_ip/id_rom16x32.coe
simple_sume_switch/hw/create_ip/rom_data.txt
simple_sume_switch/test/Makefile
simple_sume_switch/test/portconfig.sim
simple_sume_switch/test/seed
simple_sume_switch/test/sim_learning_default/config_writes.pyc

nf_sume_sdnet_ip/
src/*.dat
src/*.tbl
src/*.sdnet
testdata/*.axi
testdata/*.txt
testdata/*.pcap
testdata/*.pyc
testdata/SimpleSumeSwitch_extern_defines.json

simple_sume_switch/hw/vivado.jou
simple_sume_switch/hw/vivado.log

testdata/config_writes.*
vivado.*
